.square_container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.square_box {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-basis: calc(100% / 5);
}